[submodule "prj/common/unisims/sip"]
	path = prj/common/unisims/sip
	url = https://github.com/sergeykhbr/sip
[submodule "software/xilinx-hdmi-modules"]
	path = software/xilinx-hdmi-modules
	url = https://github.com/Xilinx/hdmi-modules
[submodule "accel_sysc/systemc"]
	path = accel_sysc/systemc
	url = https://github.com/accellera-official/systemc.git
